@use '@/shared/styles/breakpoints' as *;

.list {
    row-gap: 10px;
    column-gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $mobile) {
        column-gap: 10px;
        row-gap: 5px;
    }
}

.review {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    background-color: var(--accent-color-dim);
    color: var(--accent-color);
    padding: 3px 8px;
    border: 1px solid var(--accent-border-dim);
    border-radius: 999px;
    margin-bottom: 10px;

    & i {
        font-size: 14px;
    }

    &__text {
        padding-top: 2px;
        font-family: var(--second-family);
        font-size: 8px;
        font-weight: 700;
    }
}

.item {
    align-items: center;
    column-gap: 10px;
    row-gap: 4px;

    &:last-child {
        grid-column: span 2;

        & .item__line {
            width: 100%;
        }
    }

    &__title {
        padding-top: 2px;
        font-family: var(--second-family);
        font-size: 12px;
        color: var(--text-secondary);

        @media (max-width: $mobile) {
            font-size: 10px;
        }
    }
    
    &__content {
        display: flex;
        align-items: center;
        column-gap: 8px;

        @media (max-width: $mobile) {
            column-gap: 6px;
        }
    }
    
    &__line {
        position: relative;
        background-color: var(--bg-color);
        height: 3px;
        width: 86px;
        border-radius: 2px;
    
        @media (max-width: $mobile) {
            height: 2px;
            width: 64px;
        }
    }
    
    &__fill {
        background-color: var(--accent-color);
        position: absolute;
        height: 100%;
        border-radius: 2px;
    }
    
    &__rating {
        color: var(--accent-color);
        font-weight: 700;
        font-family: var(--second-family);
        font-size: 12px;

        @media (max-width: $mobile) {
            font-size: 10px;
        }
    }
}
