@use '@/shared/styles/breakpoints' as *;

.wrapper {
    margin-top: 32px;

    @media (max-width: $mobile) {
        margin-top: 16px;
    }
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;

    @media (max-width: $mobile) {
        
        & button {
            padding: 8px 14px !important;
        }
    }
}

.count {
    color: var(--text-secondary);

    @media (max-width: $mobile) {
        font-size: 12px;
    }
}

.text {
    color: var(--text-secondary);
}

.buttonInner {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.buttonText {
    padding-top: 4px;

    @media (max-width: $mobile) {
        padding-top: 3px;
    }
}

.bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {

    @media (max-width: $mobile) {
        font-size: 12px;
    }
}