@use '@/shared/styles/breakpoints' as *;

.wrapper {
    margin-top: 32px;

    @media (max-width: $mobile) {
        margin-top: 16px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.text {
    color: var(--text-secondary);
    font-size: 16px;

    @media (max-width: $mobile) {
        font-size: 14px;
    }
}