@use '@/shared/styles/breakpoints' as *;

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    background-color: var(--gray-color);
    padding: 16px;
    border: 1px solid var(--border-subtle);
    border-radius: 16px;

    transition: background-color 0.3s;

    @media (hover: hover) {
        &:hover {
            background-color: var(--white-hover);
        }
    }

    &__left {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 8px;
    }

    &__track {
        width: 400px;
        border-right: 1px solid var(--border-subtle);
        padding-right: 8px;

        &Info {
            display: flex;
            align-items: center;
            column-gap: 6px;

            & i {
                font-size: 20px;
                color: var(--orange-color);

                transition: opacity 0.3s;

                @media (hover: hover) {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    &__title {
        padding-top: 4px;
        font-family: var(--second-family);
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 4px;
    }

    
    &__artist {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        column-gap: 6px;
        padding: 0px 8px;
        border-radius: 12px;
        margin-left: -8px;
        margin-bottom: 4px;
        
        @media (hover: hover) {
            &:hover {

                .item__artistName {
                    color: var(--accent-color);
                }

                img {
                    border: 1px solid var(--accent-color);
                }

                div {
                    border: 1px solid var(--accent-color);
                }
            }
        }
        
        &Name {
            color: var(--text-secondary);
            font-family: var(--second-family);
            font-size: 12px;

            transition: color 0.3s;

            &Temp {
                color: var(--white-color);
            }
        }
    }
    
    &__feat {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-bottom: 4px;
        
        & p {
            padding-bottom: 3px;
        }
        
        &Name {
            cursor: pointer;
            color: var(--text-secondary);
            font-family: var(--second-family);
            font-size: 12px;
            
            transition: color 0.3s;
            
            @media (hover: hover) {
                &:hover {
                    color: var(--accent-color);
                }
            }

            &Temp {
                color: var(--white-color);
            }
        }
    }
    
    &__release {
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        column-gap: 4px;
        font-size: 12px;
        font-family: var(--second-family);
        
        & i {
            font-size: 18px;
        }
    }
    
    &__user {
        width: 200px;

        &Profile {
            cursor: pointer;
            border-radius: 12px;
            display: inline-flex;
            column-gap: 8px;
            align-items: center;
            height: 100%;
            
            transition: color 0.3s;
            
            @media (hover: hover) {
                &:hover {
                    color: var(--accent-color);
    
                    img {
                        border: 1px solid var(--accent-color);
                    }
    
                    div {
                        border: 1px solid var(--accent-color);
                    }
                }
            }
        }
        
        &Nickname {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            row-gap: 4px;
        }

        &Created {
            color: var(--text-secondary);
            display: flex;
            align-items: center;
            column-gap: 4px;
            font-size: 12px;

            & i {
                font-size: 14px;
            }
        }
    }
    
    &__actions {
        display: flex;
        align-items: center;
        column-gap: 8px;
        
        &Button {
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            font-size: 16px;
            
            transition: background-color 0.3s, color 0.3s;
        }
        
        &Success {
            color: var(--green-color);
            background-color: var(--green-color-dim);
            border: 1px solid var(--green-color);
            
            @media (hover: hover) {
                &:hover {
                    background-color: var(--green-color);
                    color: var(--white-color);
                }
            }
        }
        
        &Delete {
            color: var(--accent-color);
            background-color: var(--accent-color-dim);
            border: 1px solid var(--accent-color);
            
            @media (hover: hover) {
                &:hover {
                    background-color: var(--accent-color);
                    color: var(--white-color);
                }
            }
        }
        
        &Edit {
            color: var(--yellow-color);
            background-color: var(--yellow-color-dim);
            border: 1px solid var(--yellow-color);
            
            @media (hover: hover) {
                &:hover {
                    background-color: var(--yellow-color);
                    color: var(--white-color);
                }
            }
        }
    }

    &__status {
    
        &Badge {
            padding: 6px 8px;
            font-size: 12px;
            border-radius: 12px;
            letter-spacing: 0.05em;
            text-wrap: nowrap;
            display: inline-flex;
            align-items: center;
            column-gap: 4px;
    
            & i {
                font-size: 14px;
            }
    
            &.pending {
                border: 1px solid var(--yellow-color);
                color: var(--yellow-color);
                background-color: var(--yellow-color-dim);
            }
    
            &.accepted {
                border: 1px solid var(--green-color);
                color: var(--green-color);
                background-color: var(--green-color-dim);
            }
    
            &.rejected {
                border: 1px solid var(--accent-color);
                color: var(--accent-color);
                background-color: var(--accent-color-dim);
            }
        }
    }

    &__admin {
        display: flex;
        align-items: center;
        column-gap: 4px;

        &User {
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: 4px;
    
            transition: color 0.3s;
    
            @media (hover: hover) {
                &:hover {
                    color: var(--accent-color);
    
                    img {
                        border: 1px solid var(--accent-color);
                    }
    
                    div {
                        border: 1px solid var(--accent-color);
                    }
                }
            }
        }

        &Text {
            color: var(--text-secondary);
        }
    }

    &__accept {

        &Link {
            margin-top: 2px;
            font-size: 12px;
            cursor: pointer;
            color: var(--text-secondary);

            transition: color 0.3s;

            @media (hover: hover) {
                &:hover {
                    color: var(--accent-color);
                }
            }
        }
    }

    &__reject {
        display: flex;
        align-items: center;
        column-gap: 4px;

        &Title {
            color: var(--accent-color);
        }
    }

    @media (max-width: $mobile) {
        overflow-y: scroll;
    }
}