.wrapper {
    padding: 14px 16px;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    background-color: var(--accent-color-dim);
    border-radius: 12px;
    border: 1px solid var(--accent-border-dim);

    & svg {
        margin-top: 3px;
        flex-shrink: 0;
        color: var(--accent-color);
        width: 16px;
        height: 16px;
    }
}

.text {
    color: var(--text-secondary);
    line-height: 1.5;
    font-size: 13px;
}

.strong {
    font-weight: 700;
    color: var(--accent-color)
}

.footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid var(--border-subtle);
}