@use '@/shared/styles/breakpoints' as *;

.title {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--second-family);
    color: var(--text-secondary);

    @media (max-width: $mobile) {
        margin-bottom: 16px;
    }
}

.formWrapper {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $mobile) {
        row-gap: 12px;
        margin-bottom: 20px;
    }
}

.editAvatar {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @media (max-width: $mobile) {
        column-gap: 12px;
    }
}

.avatar {
    
    @media (max-width: $mobile) {
        width: 125px !important;
        height: 125px !important;
    }
}

.editButton {

    @media (max-width: $mobile) {
        padding: 10px 16px 6px 16px !important;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    @media (max-width: $mobile) {
        row-gap: 6px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media (max-width: $mobile) {
        gap: 12px;
    }

    & :nth-child(3) {
        grid-column: span 2;
    }
}

.securityWrapper {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media (max-width: $mobile) {
        gap: 12px;
        margin-bottom: 20px;
    }
}

.sub {
    color: var(--text-secondary);
    font-size: 12px;
}

.bottom {
    display: flex;
    column-gap: 16px;
}