.content {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-subtle);
}

.inputList {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.editCover {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.coverInput {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.sub {
    color: var(--text-tertiary);
    font-size: 12px;
}

.search {
    position: relative;

    &__artist {
        overflow: hidden;
        position: absolute;
        transform: translateY(-6px);
        opacity: 0;
        visibility: hidden;
        width: 100%;
        z-index: 99999;
        margin-top: 6px;
        background-color: var(--bg-secondary);
        border-radius: 16px;
        border: 1px solid var(--border-highlight);

        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

        &.open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 6px;
    }

    &__text {
        color: var(--text-secondary);
        padding: 6px;
    }
}

.addArtist {

    &List {
        margin-bottom: 8px;
        display: flex;
        column-gap: 8px;
    }

    &Item {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        column-gap: 6px;
        background-color: var(--bg-secondary);
        padding: 5px 10px 5px 6px;
        border-radius: 999px;
        border: 1px solid var(--border-highlight);

        transition: color 0.3s, background-color 0.3s, border 0.3s;
        
        &:hover {
            background-color: var(--accent-color-dim);
            border: 1px solid var(--accent-border-dim);
            color: var(--accent-color);
        }
    }

    &Avatar {
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }

    &Name {
        font-family: var(--second-family);
        font-size: 12px;
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}