.text {
    margin-top: -15px;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;

    & span {
        color: var(--accent-color);
    }
}

.forgot {
    color: var(--accent-color);
    margin-left: auto;
    
    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
        }
    }
}

.retry {
    display: flex;
    justify-content: center;

    &__btn {
        font-size: 10px;
    }
    
    &__text {
        color: var(--text-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;

        & span {
            color: var(--accent-color);
        }
    }
}
