@use '@/shared/styles/breakpoints' as *;

.wrapper {
    margin-top: 32px;

    @media (max-width: $mobile) {
        margin-top: 16px;
    }
}

.header {
    display: grid;
    grid-template-columns: 80px 1.5fr 1.5fr 1fr 1fr 120px;
    padding: 12px 24px;

    &__item {
        color: var(--text-secondary);
        font-size: 12px;
        font-weight: 700;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: var(--text-secondary);

    @media (max-width: $mobile) {
        font-size: 12px;
    }
}