@use '@/shared/styles/breakpoints' as *;

.card {
    cursor: pointer;
    background-color: var(--gray-color);
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid var(--border-subtle);
    display: flex;
    align-items: center;
    column-gap: 12px;

    transition: opacity 0.3s;

    @media (max-width: $mobile) {
        column-gap: 8px;
        padding: 8px 12px;
    }

    @media (hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
}

.nickname {
    padding-top: 3px;
    font-family: var(--second-family);
    font-size: 12px;
}