.inner {
    position: relative;
    display: flex;
    gap: 32px;
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: var(--gray-color);
    border-radius: 24px;
    border: 1px solid var(--border-subtle);
}

.nickname {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--second-family);
    margin-bottom: 2px;
}

.username {
    color: var(--text-secondary);
    font-size: 16px;
    margin-bottom: 12px;
}

.soundcloud {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 14px;

    transition: opacity 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.created {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: var(--text-secondary);

    &__bold {
        font-family: var(--second-family);
        font-size: 14px;
        font-weight: 500;
        color: var(--text-primary);
    }
}

.editButton {
    position: absolute;
    top: 0;
    right: 0;
}

.buttonInner {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.buttonText {
    padding-top: 4px;
}

.stats {
    display: flex;
    column-gap: 32px;

    &__count {
        font-size: 20px;
        font-family: var(--second-family);
        margin-bottom: 4px;
    }
    
    &__title {
        font-size: 12px;
        color: var(--text-secondary);
        font-family: var(--second-family);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
}