@use '@/shared/styles/breakpoints' as *;

.inner {
    position: relative;
    display: flex;
    column-gap: 32px;

    @media (max-width: $mobile) {
        column-gap: 16px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        row-gap: 16px;
    }
}

.avatar {
    @media (max-width: $mobile) {
        width: 175px !important;
        height: 175px !important;
    }

    @media (max-width: 480px) {
        width: 150px !important;
        height: 150px !important;
    }
}

.nickname {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--second-family);
    margin-bottom: 2px;

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 4px;
    }
}

.username {
    color: var(--text-secondary);
    font-size: 16px;
    margin-bottom: 12px;
}

.soundcloud {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 14px;

    transition: opacity 0.3s;

    @media (hover: hover) {        
        &:hover {
            opacity: 0.7;
        }
    }
}

.created {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: var(--text-secondary);

    &__bold {
        font-family: var(--second-family);
        font-size: 14px;
        font-weight: 500;
        color: var(--text-primary);
    }
}

.editButton {
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 1000px) {
        margin-top: 12px;
        position: unset;
    }
}

.button {

    @media (max-width: $mobile) {
        padding: 8px 8px !important;
    }
}

.buttonInner {
    display: flex;
    align-items: center;
    column-gap: 8px;

    @media (max-width: $mobile) {
        column-gap: 4px;
    }
}

.buttonText {
    padding-top: 4px;

    @media (max-width: $mobile) {
        font-size: 10px;
    }
}

.stats {
    display: flex;
    column-gap: 32px;

    &__count {
        font-size: 20px;
        font-family: var(--second-family);
        margin-bottom: 4px;
    }
    
    &__title {
        font-size: 12px;
        color: var(--text-secondary);
        font-family: var(--second-family);
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
}