@use '@/shared/styles/breakpoints' as *;

.inner {
    background-color: var(--gray-color);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-subtle);

    &.your {
        border: 2px solid var(--accent-color);
    }
}

.top {
    margin-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 8px;

    transition: opacity 0.3s;

    @media (max-width: $mobile) {
        column-gap: 5px;
    }

    &:hover {
        opacity: 0.7;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--lightgray-color);
}

.nickname {
    font-weight: 700;
}

.yourText {
    background-color: var(--accent-color);
    font-size: 10px;
    font-family: var(--second-family);
    border-radius: 4px;
    padding: 4px 6px 2px 6px;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: $mobile) {
        font-size: 8px;
    }
}

.review {
    color: var(--text-secondary);
    white-space: pre-wrap;

    &__skeleton {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}

.action {
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 60px;
    margin-left: auto;
}