@use '@/shared/styles/breakpoints' as *;

.inner {
    background-color: var(--gray-color);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-subtle);
    min-height: 150px;

    &.your {
        border: 2px solid var(--accent-color);
    }

    @media (max-width: $mobile) {
        min-height: 118px;
    }
}

.top {
    margin-bottom: 6px;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    border-bottom: 2px solid var(--border-subtle);
    padding-bottom: 8px;

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 4px;
    }
}

.info {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.user {
    grid-column: span 1;
    display: flex;
    align-items: center;
    column-gap: 8px;

    transition: opacity 0.3s;

    @media (max-width: $mobile) {
        column-gap: 5px;
    }

    &:hover {
        opacity: 0.7;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--lightgray-color);
}

.nickname {
    font-weight: 700;
}

.yourText {
    background-color: var(--accent-color);
    font-size: 10px;
    font-family: var(--second-family);
    border-radius: 4px;
    padding: 4px 6px 2px 6px;
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: $mobile) {
        font-size: 8px;
    }
}

.review {
    color: var(--text-secondary);
    white-space: pre-wrap;

    @media (max-width: $mobile) {
        font-size: 12px;
    }

    &.visible {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        line-height: 1.2em;
        max-height: 6em;
        text-overflow: ellipsis;
    }

    &.more {
        max-height: 100%;
        -webkit-line-clamp: unset;
    }

    &__skeleton {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}

.track {
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: var(--text-secondary);

    & a {
        content: attr(data-text);
        padding-top: 4px;
        color: var(--accent-color);
        font-weight: 700;
        font-family: var(--second-family);

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.action {
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 60px;
    margin-left: auto;
}

.show {
    position: relative;
    margin-top: 8px;
    display: none;
    cursor: pointer;
    color: var(--text-secondary);

    transition: color 0.3s;

    &.visible {
        display: inline-block;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--accent-color);
    
            &::before {
                background-color: var(--accent-color);
            }
        }
    }

    @media (max-width: $mobile) {
        & svg {
            width: 16px;
            height: 16px;
        }
    }

    &.more {
        &::before {
            opacity: 1;
        }
    }

    &::before {
        opacity: 0;
        content: '';
        position: absolute;
        width: 120%;
        height: 2px;
        background-color: var(--text-secondary);
        top: 40%;
        left: -10%;
        transform: translateY(-100%);
        transform: rotate(45deg);

        transition: background-color 0.3s;
    }
}