@use '@/shared/styles/breakpoints' as *;

.wrapper {
    margin-top: 32px;

    @media (max-width: $mobile) {
        margin-top: 16px;
    }
}

.statsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    @media (max-width: $mobile) {
        column-gap: 12px;
        row-gap: 12px;
        grid-template-columns: repeat(2, 1fr);
    }
}