@use '@/shared/styles/breakpoints' as *;

.pagination {
    display: flex;
    column-gap: 6px;
    align-items: flex-end;
}

.text {
    color: var(--text-secondary);

    @media (max-width: $mobile) {
        font-size: 10px;
    }
}