@use '@/shared/styles/breakpoints' as *;

.wrapper {
    position: relative;
    z-index: 999;
    width: fit-content;
    display: flex;
    align-items: center;
}

.content {
    position: absolute;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    bottom: 125%;
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid var(--border-highlight);
    width: fit-content;
    height: fit-content;
    background-color: var(--gray-color);
    transform: translateY(-100%);

    transition: opacity 0.2s, visibility 0.2s ease-in;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;

    &[data-placement='top'] {
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--border-highlight);
    }

    &[data-placement='bottom'] {
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--border-highlight);
    }
}