@use '@/shared/styles/breakpoints' as *;

.button {
    
    @media (max-width: $mobile) {
        padding: 8px 18px 6px 18px !important;
        font-size: 8px;
    }

    &__desc {
        display: none;
        width: 206px;
    
        @media (hover: hover) {
            display: block;
            &:hover {
                background-color: var(--text-primary);
                color: var(--bg-color);
                box-shadow: unset !important;
            }
        }
    }
    
    &__mobile {
        display: none;

        @media (max-width: $mobile) {
            padding: 8px 18px 6px 18px !important;
            font-size: 8px;
        }

        @media (hover: none) {
            display: block;
        }
    }
}