@use '@/shared/styles/breakpoints' as *;

.list {
    display: flex;
    width: 100%;

    @media (max-width: $mobile) {
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.item {
    position: relative;
    cursor: pointer;
    font-family: var(--second-family);
    color: var(--text-secondary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 32px;
    border-bottom: 2px solid var(--border-subtle);

    transition: color 0.3s;

    @media (max-width: $mobile) {
        font-size: 12px;
    }

    &:hover {
        color: var(--text-primary);
    }

    &.active {
        cursor: default;
        color: var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
    }
}