.list {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--border-subtle);
}

.item {
    position: relative;
    cursor: pointer;
    font-family: var(--second-family);
    color: var(--text-secondary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 32px;

    transition: color 0.3s;

    &::before {
        position: absolute;
        content: '';
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--border-subtle);

        transition: background-color 0.3s;
    }

    &:hover {
        color: var(--text-primary);
    }

    &.active {
        cursor: default;
        color: var(--accent-color);

        &::before {
            background-color: var(--accent-color);
        }
    }
}