@use '@/shared/styles/breakpoints' as *;

.wrapper {
    padding: 32px 0;

    @media (max-width: $mobile) {
        padding: 16px 0;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}