@use '@/shared/styles/breakpoints' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-family: var(--second-family);
    color: var(--text-secondary);
    font-size: 12px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05rem;

    @media (max-width: $mobile) {
        font-size: 10px;
    }
}

.inputWrapper {
    position: relative;

    &.search {
        
        & svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 14px;
            color: var(--text-secondary);
        }

        & i {
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 14px;
            color: var(--text-secondary);
        }

        & .input {
            padding-left: 42px;
        }
    }
}

.input {
    width: 100%;
    padding: 14px 16px;
    background-color: var(--bg-color);
    border: 2px solid var(--border-subtle);
    border-radius: 12px;
    font-size: 16px;
    font-family: var(--font-family);
    outline: none;
    color: var(--text-primary);

    transition: border 0.3s;

    @media (max-width: $mobile) {
        padding: 10px 12px;
    }

    &:focus {
        border: 2px solid var(--accent-color);
    }

    &.gray {
        background-color: var(--bg-secondary);
        border: 2px solid var(--border-highlight);

        &:focus {
            border: 2px solid var(--accent-color);
        }
    }

    &.focus__orange:focus {
        border: 2px solid var(--orange-color);
    }

    &.error {
        border: 1px solid var(--accent-color);
        background-color: var(--accent-color-dim);
    }
}

.errorMessage {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 6px;
    color: var(--accent-color);
    font-size: 12px;

    & svg {
        width: 20px;
        height: 20px;
    }
}

.eyeIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--text-secondary);

    & svg {
        cursor: pointer;

        transition: color 0.3s;

        &:hover {
            color: var(--accent-color);
        }
    }
}