@use '@/shared/styles/breakpoints' as *;

.wrapper {
    margin-top: 32px;

    @media (max-width: $mobile) {
        margin-top: 16px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}