.rating {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--bg-secondary);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-highlight);
}