@use '@/shared/styles/breakpoints' as *;

.sidebar {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-right: 1px solid var(--border-subtle);
    padding: 24px 0;

    transition: transform 0.6s;

    @media (max-width: $mobile) {
        transform: translateX(-100%);
        top: 53px;
        width: 100%;
        overflow: hidden;
        height: calc(100dvh - 51px);
        padding: 8px 0;
    }

    &.active {
        transform: translateX(0);
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid var(--border-subtle);
    padding: 0 24px;
    padding-bottom: 16px;

    transition: opacity 0.3s;
  
    @media (hover: hover) {        
        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: $mobile) {
        display: none;
    }
}

.logo__text {
    padding-top: 4px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.nav {
    padding: 0 24px;

    @media (max-width: $mobile) {
        padding: 0 16px;
    }

    &__title {
        margin-top: 24px;
        font-size: 10px;
        font-family: var(--second-family);
        text-transform: uppercase;
        color: var(--text-secondary);
        padding-left: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__item {
        color: var(--text-secondary);
        font-size: 14px;
        cursor: pointer;
        border-radius: 12px;

        transition: color 0.3s, background-color 0.3s;

        &:hover {
            color: var(--text-primary);
            background-color: var(--hover-white);
        }

        &.active {
            position: relative;
            background-color: var(--accent-color-dim);
            color: var(--accent-color);
            cursor: default;

            & .nav__link {
                cursor: default;
            }

            &::before {
                position: absolute;
                content: '';
                width: 4px;
                height: 65%;
                background-color: var(--accent-color);
                border-top-right-radius: 9999px;
                border-bottom-right-radius: 9999px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 16px;
        border-radius: 12px;
        font-size: 16px;

        & i {
            font-size: 20px;
        }
    }
}

.bottom {
    border-top: 1px solid var(--border-subtle);
    margin-top: auto;
    padding: 12px;
    padding-bottom: 0;
}