.wrapper {
    margin-top: 32px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.count {
    color: var(--text-secondary);
}

.text {
    color: var(--text-secondary);
}

.buttonInner {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.buttonText {
    padding-top: 4px;
}

.bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}