.wrapper {
    margin-top: 32px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonInner {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.buttonText {
    padding-top: 4px;
}

.tableContainer {
    margin-top: 32px;
    background-color: var(--gray-color);
    border: 1px solid var(--border-subtle);
    border-radius: 24px;
    overflow: hidden;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    & tr:last-child td {
        border-bottom: none;
    }

    & tr th:last-child {
        text-align: right;
    }
}

.tableRow {

    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.02);
    }
}

.tableHead {
    padding: 16px 24px;
    text-transform: uppercase;
    font-family: var(--second-family);
    font-size: 12px;
    color: var(--text-tertiary);
    font-weight: 700;
    border-bottom: 1px solid var(--border-subtle);
}

.tableData {
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-subtle);
    font-family: var(--second-family);
    font-size: 14px;
}

.artist {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.artistAvatar {
    background-color: var(--bg-secondary);
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.artistNickname {
    padding-top: 4px;
}

.status {
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 8px 4px 8px;
    border-radius: 4px;
    font-size: 10px;

    &.verified {
        background-color: rgba(16, 185, 129, 0.1);
        color: #10B981;
    }

    &.notVerified {
        background-color: rgba(150, 150, 150, 0.1);
        color: #999999;
    }
}

.action {
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
}

.button {
    cursor: pointer;
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    border: 1px solid var(--border-subtle);
}