@use '@/shared/styles/breakpoints' as *;

.inner {
    display: flex;
    column-gap: 48px;

    @media (max-width: $mobile) {
        flex-direction: row;
        column-gap: 24px;
    }

    @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 400px) {
        align-items: center;
    }
}

.artist {

    &__list {
        display: flex;
        column-gap: 12px;
        margin-bottom: 4px;

        @media (max-width: $mobile) {
            flex-wrap: wrap;
            column-gap: 6px;
            row-gap: 4px;
            justify-content: center;
        }
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 6px;

        transition: opacity 0.3s;

        @media (max-width: $mobile) {
            column-gap: 6px;
        }

        @media (hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__avatar {
        @media (max-width: $mobile) {
            width: 28px !important;
            height: 28px !important;
        }
    }
    
    &__name {
        padding-top: 4px;
        font-family: var(--second-family);
        font-size: 14px;
        color: var(--text-secondary);
        font-weight: 700;
        letter-spacing: 0.05em;

        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}


.title {
    font-size: 44px;
    font-weight: 700;
    font-family: var(--second-family);
    margin-bottom: 8px;

    @media (max-width: $mobile) {
        font-size: 28px;
        margin-bottom: 4px;
    }
}

.soundcloud {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    margin-bottom: 14px;

    transition: opacity 0.3s;

    @media (hover: hover) {        
        &:hover {
            opacity: 0.7;
        }
    }
}

.release {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-family: var(--second-family);
    color: var(--text-secondary);
    font-weight: 700;
    font-size: 10px;

    &__strong {
        margin-left: 4px;
        color: var(--text-primary);
        font-size: 12px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 8px;
    }
}

.rating {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--bg-secondary);
    padding: 8px 20px 8px 8px;
    border-radius: 999px;
    border: 2px solid var(--border-subtle);

    transition: border 0.3s, opacity 0.3s;

    @media (hover: hover) {
        &:hover {
            border: 2px solid var(--border-highlight);
            opacity: 0.7;
        }
    }

    &.open {
        border: 2px solid var(--accent-color);
    }

    &__wrapper {
        position: relative;
    }
}

.rating__title {
    font-family: var(--second-family);
    font-size: 10px;
    color: var(--text-secondary);
    font-weight: 600;
}

.rating__desc {
    font-family: var(--second-family);
    font-size: 12px;
}

.text {
    color: var(--text-secondary);
    font-size: 14px;
}