@use '@/shared/styles/breakpoints' as *;

.card {
    position: relative;
    height: 320px;
    transform: translateZ(0);
    width: 175px;

    @media (max-width: $mobile) {
        height: 270px;
        width: 135px;
    }
}

.cover {
    @media (max-width: $mobile) {
        width: 135px !important;
        height: 135px !important;
        min-width: 135px !important;
        min-height: 135px !important;
    }
}

.title {
    font-family: var(--second-family);
    font-size: 16px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: $mobile) {
        font-size: 14px;
        margin-bottom: 2px;
    }
}

.artist {

    &__list {
        margin-bottom: 12px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        line-height: 1.2em;
        max-height: 6em;
        text-overflow: ellipsis;
    }

    &__item {
        color: var(--text-secondary);

        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }

    &__link {
        cursor: pointer;
        display: inline-block;

        transition: opacity 0.3s;
    
        @media (hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.rating {
    cursor: default;
    position: absolute;
    bottom: 0;
    left: 0;

    &__text {
        color: var(--text-secondary);
        font-size: 14px;
        
        @media (max-width: $mobile) {
            font-size: 12px;
        }
    }
}