.inner {
    display: flex;
    gap: 48px;
}

.cover {
    width: 320px;
    height: 320px;
    background-color: var(--gray-color);
    border-radius: 24px;
    border: 1px solid var(--border-subtle);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.artist {

    &__list {
        display: flex;
        column-gap: 12px;
        margin-bottom: 4px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;

        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
    
    &__name {
        padding-top: 4px;
        font-family: var(--second-family);
        font-size: 14px;
        color: var(--text-secondary);
        font-weight: 700;
        letter-spacing: 0.05em;
    }
}


.title {
    font-size: 44px;
    font-weight: 700;
    font-family: var(--second-family);
    margin-bottom: 8px;
}

.rating {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--bg-secondary);
    padding: 8px 20px 8px 8px;
    border-radius: 999px;
    border: 2px solid var(--border-subtle);

    transition: border 0.3s;

    &:hover {
        border: 2px solid var(--border-highlight);
    }

    &.open {
        border: 2px solid var(--accent-color);
    }
}

.rating__title {
    font-family: var(--second-family);
    font-size: 10px;
    color: var(--text-secondary);
    font-weight: 600;
}

.rating__desc {
    font-family: var(--second-family);
    font-size: 12px;
}

.text {
    color: var(--text-secondary);
    font-size: 14px;
}