@use '@/shared/styles/breakpoints' as *;

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    padding: 12px;

    @media (max-width: $mobile) {
        padding: 0;
        padding-bottom: 15px;
    }
}

.row {
    cursor: pointer;
    border-radius: 12px;

    transition: background-color 0.3s;

    @media (hover: hover) {
        &:hover {
            background-color: var(--hover-white);
        }
    }

    @media (max-width: $mobile) {
        border-bottom: 1px solid var(--border-subtle);
        border-radius: 0;

        &:nth-last-child(1) {
            border-bottom: unset;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding-right: 8px;
    }

    &__right {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    &__title {
        max-width: 250px;
        font-family: var(--second-family);
        margin-bottom: 2px;
        text-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__artist {

        &List {
            display: flex;
            flex-wrap: wrap;
            column-gap: 4px;
        }

        &Text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            line-height: 1.2em;
            max-height: 2.4em;
            text-overflow: ellipsis;
            color: var(--text-secondary);
            font-size: 12px;
        }
    }

    &__release {
        color: var(--text-secondary);
    }

    &__rating {
        position: relative;
    }
}