.wrapper {
    transform: translateY(-6px);
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    position: absolute;
    z-index: 9999;
    top: calc(100% + 6px);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-subtle);
    width: 100%;

    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

    &.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}
.search {

    &__list {
        padding: 12px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 12px;
        padding: 8px;
        border-radius: 12px;

        transition: background-color 0.3s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--hover-white);
            }
        }
    }

    &__name {
        font-family: var(--second-family);
    }

    &__text {
        color: var(--text-secondary);
        padding: 8px;
    }

    &__artist {

        &List {
            display: flex;
            margin-bottom: 8px;
            column-gap: 8px;
        }

        &Item {
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: 6px;
            background-color: var(--bg-secondary);
            padding: 4px 12px;
            border-radius: 12px;
            border: 1px solid var(--border-subtle);
            color: var(--text-secondary);

            transition: background-color 0.3s, color 0.3s, border 0.3s;

            @media (hover: hover) {
                &:hover {
                    background-color: var(--accent-color-dim);
                    color: var(--accent-color);
                    border: 1px solid var(--accent-color);
                }
            }

            & i {
                font-size: 18px;
                color: var(--accent-color);
            }
        }

        &Name {
            font-family: var(--second-family);
            font-size: 12px;
        }
    }
}