@use '@/shared/styles/breakpoints' as *;

.criterias {
    opacity: 0;
    visibility: hidden;
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 9999;
    padding: 14px 16px;
    border: 1px solid var(--border-highlight);
    box-shadow: 16px 16px 40px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    width: 160px;

    transition: visibility 0.3s, opacity 0.3s;

    @media (max-width: $mobile) {
        padding: 10px 12px;
    }

    &.column {
        width: unset;
    }

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &.bottom {
        top: calc(100% + 10px);

        @media (max-width: $mobile) {
            top: calc(100% + 5px);
        }
    }

    &.top {
        bottom: calc(100% + 10px);

        @media (max-width: $mobile) {
            bottom: calc(100% + 5px);
        }
    }

    &.right {
        left: 140px;
        top: -20px;
    }

    &.left {
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__text {
        font-family: var(--second-family);
        color: var(--text-secondary);
        font-weight: 700;
        letter-spacing: 0.05rem;
        font-size: 12px;

        @media (max-width: $mobile) {
            font-size: 10px;
        }
    }

    &__review {
        display: inline-flex;
        align-items: center;
        column-gap: 4px;
        background-color: var(--accent-color-dim);
        color: var(--accent-color);
        padding: 3px 8px;
        border: 1px solid var(--accent-border-dim);
        border-radius: 999px;
        margin-bottom: 10px;

        &Text {
            padding-top: 2px;
            font-family: var(--second-family);
            font-size: 8px;
            font-weight: 700;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        column-gap: 15px;

        @media (max-width: $mobile) {
            row-gap: 6px;
        }

        &.column {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            & .criterias__item:last-child {
                grid-column: span 2;
                
                & .criterias__line {
                    width: 100%;
                }
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        column-gap: 10px;
        row-gap: 4px;
    }

    &__title {
        font-family: var(--second-family);
        font-size: 12px;
        color: var(--text-secondary);
        grid-column: span 2;

        @media (max-width: $mobile) {
            font-size: 10px;
        }
    }

    &__line {
        position: relative;
        background-color: var(--gray-color);
        height: 3px;
        width: 86px;
        border-radius: 2px;
        
        @media (max-width: $mobile) {
            width: 50px;
        }
    }

    &__fill {
        background-color: var(--accent-color);
        position: absolute;
        height: 100%;
        border-radius: 2px;
    }

    &__rating {
        color: var(--accent-color);
        font-weight: 700;
        font-family: var(--second-family);
        font-size: 12px;

        @media (max-width: $mobile) {
            font-size: 10px;
        }
    }
}