.wrapper {
    margin-top: 24px;
}

.list {
    margin-top: 32px;
    display: flex;
    column-gap: 28px;

    &.users {
        flex-direction: column;
        column-gap: unset;
        row-gap: 4px;
    }

    &.artists {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        row-gap: 28px;
    }

    &.tracks {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 28px;
    }
}

.text {
    font-size: 16px;
    color: var(--text-secondary);
}