@use '@/shared/styles/breakpoints' as *;

.inner {
    display: flex;
    column-gap: 32px;

    @media (max-width: $mobile) {
        column-gap: 16px;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        row-gap: 16px;
    }
}

.avatar {

    @media (max-width: $mobile) {
        width: 175px !important;
        height: 175px !important;
    }

    @media (max-width: 480px) {
        width: 50% !important;
        height: 50% !important;
    }
}

.name {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: var(--second-family);
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 12px;

    @media (max-width: $mobile) {
        font-size: 22px;
        margin-bottom: 4px;
    }
}

.soundcloud {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: 1px solid var(--orange-color);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: var(--orange-color);

    transition: background-color 0.3s, color 0.3s;

    @media (hover: hover) {
        &:hover {
            background-color: var(--orange-color);
            color: var(--text-primary);
        }
    }
}

.stats {

    &__list {
        display: flex;
        align-items: center;
        column-gap: 24px;

        margin-bottom: 18px;
    }

    &__count {
        display: block;
        font-size: 16px;
        font-family: var(--second-family);
        font-weight: 700;
        margin-bottom: 4px;
    }

    &__title {
        font-family: var(--second-family);
        font-size: 12px;
        text-transform: uppercase;
        color: var(--text-secondary);
    }
}