@use '@/shared/styles/breakpoints' as *;

.wrapper {
    padding: 32px 0;

    @media (max-width: $mobile) {
        padding: 16px 0;
    }
}

.text {
    color: var(--text-secondary);
    margin-bottom: 8px;
}

.list {

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

.bottom {
    margin-top: 12px;
}