.list {
    position: fixed;
    z-index: 9999999;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.item {
    width: 315px;
    display: flex;
    column-gap: 12px;
    align-items: center;
    background-color: var(--bg-secondary);
    padding: 14px 20px;
    border-radius: 12px;

    animation: slideIn 0.3s ease forwards;

    &.hiding {
        animation: slideOut 0.3s ease forwards;
    }

    &.success {
        box-shadow: 0 0 24px var(--green-color-dim);
        border: 1px solid var(--green-color);
        color: var(--green-color);

        & .icon {
          background-color: var(--green-color-dim);
        }
    }

    &.delete {
        border: 1px solid var(--accent-color);
        box-shadow: 0 0 24px var(--accent-color-dim);
        color: var(--accent-color);

        & .icon {
            background-color: var(--accent-color-dim);
        }
    }

    &.edit {
        border: 1px solid var(--yellow-color);
        box-shadow: 0 0 24px var(--yellow-color-dim);
        color: var(--yellow-color);

        & .icon {
            background-color: var(--yellow-color-dim);
        }
    }
}

.icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.title {
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.desc {
    color: var(--text-secondary);
    font-size: 12px;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
}