.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);
    z-index: 999999;

    transition: opacity 0.3s, visibility 0.3s;

    &.open {
        opacity: 1;
        visibility: visible;

        & .modal__wrapper {
            transform: translateY(0);
        }
    }

    &__wrapper {
        transform: translateY(16px);
        background-color: var(--gray-color);
        border: 1px solid var(--border-subtle);
        width: 520px;
        border-radius: 24px;
        padding: 32px;

        transition: transform 0.3s;
    }

    &__header {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        
        &Title {
            margin-bottom: 4px;
            font-weight: 700;
            font-family: var(--second-family);
            font-size: 18px;
            letter-spacing: 0.05rem;
        }

        &Desc {
            font-size: 12px;
            color: var(--text-tertiary);
        }
    }

    &__close {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--border-subtle);
        border-radius: 6px;
        color: var(--text-secondary);

        transition: color 0.3s, border 0.3s;

        &:hover {
            color: var(--text-primary);
            border: 1px solid var(--border-highlight);
        }
    }
}